@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

html, body {
    font-family: 'Josefin Slab', 'HelveticaNeue', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

h1 {
    text-transform: uppercase;
}

.menu {
    float: left;
    min-width: 200px;
    max-width: 33%;
}

.menu ul {
    padding-left: 15px;
}

.menu ul li {
    list-style-type: none;
}

.content {
    /*TODO*/
    min-width: 75%;
    max-width: 1000px;
    position: absolute;
    top: 75px;
    left: 25px;
}
